.field {
      margin-bottom: 1.5rem;
    }
    .field label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: 600;
    }
    :host ::ng-deep .p-dialog-title{
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-size: 1.75em;
    margin-top: 45px;
    margin: 0 auto;
    font-weight: normal;
}
 :host ::ng-deep .p-dialog-title::after{
    content: '';
    display: block;
    width: 35px;
    height: 2px;
    background-color: #26272C;
   margin: 0 auto;
   margin-top: 7px;
}
 :host ::ng-deep  .field[_ngcontent-ng-c681925732] label[_ngcontent-ng-c681925732],
  :host ::ng-deep  .field[_ngcontent-ng-c3694720742] label[_ngcontent-ng-c3694720742]{
      /* background-color: #b884b7; */
    font-family: 'Arimo', sans-serif !important;
    text-transform: capitalize !important;
    text-align: center !important;
 }
  :host ::ng-deep .p-inputtext{
    width: 250px;
    display: block;
    margin: 0 auto;
 }
 button{
  background-color: #D0C3D3;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Arimo', sans-serif;
 }

 button:hover{
    cursor: pointer;
    background-color: #B884B7;
    
 }
     .flx{
        display: flex !important;
        width: 60%;
        margin: 0 auto;
     }
     .lbInfo,.ipInfo{
        display: block;
        text-align: center;
        margin: 0 auto;
        font-family: 'Arimo', sans-serif;
     }
     .ipInfo{
        margin-bottom: 15px;
        height: 25px;
        width: 250px;
     }